@model Varldsklass.Web.ViewModels.BookViewModel

@{
    ViewBag.Title = "MailTemplate";
}

<table style="width: 100%; padding: 0; border: 0;">
    <tr>
        <td style="width: 100%; height: 200px">
            <p style="padding: 15px"><img src="../../Content/foundation/images/logo.png" alt="Väldsklass.com" /></p>
        </td>
    </tr>
    <tr>
        <td style="height:15px; background-color: #0c3e62; border-top: 1px solid #222; background-image: url(../../Content/foundation/images/footer-grad.png); border-bottom: 1px solid #222;"> </td>
    </tr>
</table>
<div style="padding: 30px 15px; font-family: 'helvetica neue', helvetica, Arial, sans-serif">

<h2>Här skall all content vara.</h2>

<p>text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>

<h4>Lorem ipsum</h4>

<p>of the printing and<br/>
typesetting industry<br/>
Lorem Ipsum has been the<br/>
industry's standard<br/>
dummy text </p>

<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining </p>

<p>Lorem Ipsum</p>
</div>
<table style="width: 100%; padding: 0; border: 0; background-color: #0c3e62; background-image: url(../../Content/foundation/images/footer-grad.png); border-top: 1px solid #222; color: #fff; font-family: 'helvetica neue', helvetica, Arial, sans-serif">
    <tr>
        <td style="width: 34%; min-width: 150px;">
            <p style="padding: 30px 15px">Världsklass.com<br />
            Lövåsgatan 11<br />
            511 54 Kinna</p>
        </td>

        <td style="width: 33%; min-width: 150px;">
            <p style="padding: 30px 15px">Tel: 0320 - 109 39<br />
            Boka: 073 - 551 50 96</p>
        </td>

        <td style="width: 33%; min-width: 150px;">
            <p style="padding: 30px 15px">BG 5400-9907</p>
        </td>
    </tr>
</table>
		     