
@if(!Request.IsAuthenticated)
{
     <div>@Html.ActionLink("Registrera dig", "Register", "Account")   <a href="@Url.Action("LogOn", "Account")" class="success button">Logga in <i>&#128274;</i></a></div>
}
