@if(Request.IsAuthenticated) {
    <p><strong>@User.Identity.Name</strong>
     @Html.ActionLink("Logga ut", "LogOff", "Account", null, new { @class = "tiny success button" })</p>
}
else
{
     @Html.ActionLink("Registrera dig", "Register", "Account")  @Html.ActionLink("Logga in", "LogOn", "Account", null, new { @class = "tiny success button" }) 
}
