
@if(Request.IsAuthenticated) {
    <p><strong>@User.Identity.Name</strong> <a href="@Url.Action("LogOff", "Account")" class="success button">Logga ut <i class="log-off">+</i></a></p>
}
else
{
     @Html.ActionLink("Registrera dig", "Register", "Account")   <a href="@Url.Action("LogOn", "Account")" class="success button">Logga in <i>V</i></a>
    
}
