@using (Html.BeginForm("Search", "Home", FormMethod.Get))
{
<div class="eight mobile-three columns">
    @Html.TextBox("search")
</div>
    
<div class="four mobile-one columns">
    <input type="submit" value="Sök" class="postfix button tiny"/>
 </div>
}