<div id="search-bar">
@using (Html.BeginForm("Search", "Home", FormMethod.Get))
{
        <div>@Html.TextBox("search")<input type="submit" value="Sök" class="postfix button tiny" placeholder="Sök på Utbildningar, kategorier, lärare..."/></div>
}
</div>