#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio Files
[Oo]bj
[Bb]in
[Tt]estResults
*.user
*.suo
*.[Cc]ache
*.bak
*.log
*.Publish.xml
*.testsettings
*.trx
*.vsmdi
*.swp

#Ignore private folder
/Private/
/Varldsklass.Web/Web.config

#NuGet
packages/
!NuGet.exe

#App_Data can go fuck itself
/Varldsklass.Web/App_Data

