@model string
@{
    ViewBag.Title = "FileUpload";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Ladda upp bild</h2>

@using (Html.BeginForm("FileUpload", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="Ladda upp" id="imageModal" />
}

<h5>@Html.Encode(ViewData["message"])</h5>