@model IEnumerable<Varldsklass.Domain.Entities.Attendant>

@{
    ViewBag.Title = "ListAttendants";
}

<h2>Lista över kursdeltagare</h2>

<ul>
    @foreach (var attendant in Model) { 
        <li>Namn: @attendant.Name
            Email: @attendant.Email
            EventID: @attendant.EventID</li>
    }
</ul>

