@model Varldsklass.Web.ViewModels.PostIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var p in Model.Posts)
{
    <div class="articleHeader">
        <h2>@p.Title</h2>
        <div class="article">
        <p><small>@p.Created</small></p>
            @p.Body
        </div>
    </div>
}