@model Varldsklass.Web.ViewModels.PostIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var p in Model.Posts)
{
    <article class="post">
        <header><h2>@p.Title</h2></header>
        <div class="post-content">
        <p><small>@p.Created</small></p>
            @Html.Raw(p.Body)
        </div>
    </article>
}