@model Varldsklass.Web.ViewModels.PostIndexViewModel

@{
    ViewBag.Title = "ListKurser";
}

<h2>Kurslista</h2>

@foreach (var p in Model.Posts)
{
    <div class="articleHeader">
        <h3>@p.Title</h3>
        <div class="article">
            <p><small>@p.Category.Name</small></p>
            @p.Body
        </div>
    </div>
}