@model Varldsklass.Web.ViewModels.PostIndexViewModel

@{
    ViewBag.Title = "News";
}

<h2>Nyheter</h2>

@foreach (var thread in Model.Posts)
{
    <div class="news_thread">
        <p><span class="news_date">@thread.Created</span></p>
        <h4>@thread.Title</h4>
        <p>@thread.Body</p>
    </div>
}