@model IEnumerable<Varldsklass.Domain.Entities.Question>
              
@{
    ViewBag.Title = "Statistics";
}

<h2>Statistics</h2>
<table>
    <thead>
        <td>Overall</td>
        <td>Ej tillgänglig</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
    </thead>
@foreach(var stat in Model){
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    }

</table>