@model List<Varldsklass.Domain.Entities.Event>

@{
    ViewBag.Title = "Deltagare du bokat";
}

<h2>Deltagare du bokat</h2>

<ul>
@foreach (var e in Model)
{
    <li>@e.Title
        <ul>
        @foreach(var a in e.Attendants)
        {
            <li><strong>@a.Name</strong> (@a.Email)</li>
        }
        </ul>
    </li>
}
</ul>