@model Varldsklass.Domain.Entities.Event

@{
    ViewBag.Title = Model.Title;
}
<div id="content" class="row">
    <div class="eight columns">
<h2>Deltagare du bokat till @Model.Title</h2>
<table>
    <tr>
        <th>Namn</th>
        <th>E-post</th>
    </tr>
    @foreach(var attendant in Model.Attendants)
    {
        <tr>
            <td>@attendant.FullName</td>
            <td>@attendant.Email</td>
        </tr>
    }
</table>

 </div>
    @Html.Partial("_SideBar")      
</div>