@{
    ViewBag.Title = "About Us";
}

<article class="about">
        <h4>Om världsklass</h4>
        <p>Oavsett om du vill gå en utbildning som privatperson, egenföretagare eller anställd så har vi lösningen som passar just dig och dina behov.</p>
        <p>Våra kursdeltagare är glada kursdeltagare!</p>
        <p>Vi gör alltid allt vi kan för att du som kursdeltagare ska bli så nöjd som möjligt, när andra utbildare 
        gör en  "bra" utbildning så vill vi dra det ännu längre, ja ända upp till världsklass helt enkelt!</p> 
        <p>På de flesta av våra utbildningar så finns möjligheten att gå med på en "Öppen utbildning" om det inte finns någon datum som passar så skicka in en förfråga om kommande utbildningstillfällen, eller om ni vill ha en egen utbildning som är skräddarsydd efter er verksamhet så fixar vi det!</p> 
        <p>Har du funderingar så hör gärna av dig till oss, dina åsikter är viktiga för oss! </p>
 </article> 
<section class="contact-info">
    <p>VÄRLDSKLASS.COM</p>

    <p>Telefon: 0320 - 109 39</p>
 
    <p>Bokning & offert  073 - 551 50 96</p>
 
    <p>E-post: info@varldsklass.com</p>
 
    <p>Öppettider
    Må-Fre: 08.00-17.00
    Lö: Stängt
    Sö: Stängt</p>
 
    <p>Huvudkontor
    Lövåsgatan 11
    511 54 KINNA</p>
 
    <p>Bankgiro: 5400-9907</p>
 
    <p>Företaget godkänt för F-skatt.</p>
    
</section>