@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>

@model List<DotNetOpenAuth.ApplicationBlock.Facebook.FacebookGraph.FeedPost>
    <article class="ten columns facebook-feed">
        @Html.DisplayFor(m => Model)
    </article>