@model List<Varldsklass.Domain.Entities.PopularCourse>
<section class="row colapse">
    <section class="twelve columns">
        <h4>Populära kurser</h4>
    </section>
</section>
<section class="row">
    <section class="three columns">
        <img src="@Url.Content("~/Content/foundation/images/random-pic.png")" alt="" />
            <p>Kursnamn #1</p>
    </section>
    <section class="three columns">
        <img src="@Url.Content("~/Content/foundation/images/random-pic.png")" alt="" />
            <p>Kursnamn #2</p>
    </section>
    <section class="three columns">
        <img src="@Url.Content("~/Content/foundation/images/random-pic.png")" alt="" />
            <p>Kursnamn #3</p>
    </section>
    <section class="three columns">
        <img src="@Url.Content("~/Content/foundation/images/random-pic.png")" alt="" />
            <p>Kursnamn #4</p>
    </section>
</section>