@model Varldsklass.Web.ViewModels.PopularCoursesViewModel
<section class="row colapse">
    <section class="twelve columns">
        <h4><i>&#128640;</i> Populära kurser</h4>
    </section>
</section>
<section class="row">
    @if (Model.Posts != null) {
        foreach (var pop in Model.Posts) {
            <section class="three columns">
            @if (pop.Images.Count() > 0) {
                 foreach (var images in pop.Images) {
                        <img src="@images.ImagePath" alt="@pop.Title" title="@pop.Title" />
                        break;
                 }
            }
             @Html.ActionLink(pop.Title, "CourseSingle", "Course", new { id = pop.ID }, null)
            </section>
        }
    }
</section>