@model IEnumerable<Varldsklass.Domain.Entities.Category>

@{
    ViewBag.Title = "Kategorier";
    ViewBag.Kategori = 0;
}
<div id="content" class="row">
     <div class="eight columns">
            <h1>Kategorier</h1>
                <div class="content"></div>
    </div>
    @Html.Partial("_SideBar") 
            
</div>
