@model Varldsklass.Domain.Entities.Category
@{
    ViewBag.Title = "Kategori - " + Model.Name;
    ViewBag.Kategori = Model.ID;
}

<article>
<h2>@Model.Name</h2>
<div class="content">@Model.Name</div>
</article>





