@model Varldsklass.Domain.Entities.Category
@{
    ViewBag.Title = "Utbildningar";
}

<h2>Lista Kurser</h2>
@Model.Name
<ul>
@foreach (var post in Model.Posts)
{
    <li>@post.Title</li>
}
</ul>


