@model IEnumerable<Varldsklass.Domain.Entities.Category>
       

@{
    ViewBag.Title = "Admin: Lista kurser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>Lista Kurser</h2>
<table>
@foreach (var category in Model) {
    <tr>
        <th>@category.Name</th>
    </tr>
    <tr>
        @foreach (var post in category.Posts)
        {
           <td>@post.Title</td> 
        }
    </tr>
}
</table>


