@model Varldsklass.Domain.Entities.Post

@{
    ViewBag.Title = "CourseInfo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>KursInfo</h1>
     
  @Html.Raw(Model.Body)    
    
    