@model Varldsklass.Domain.Entities.Event

@{
    ViewBag.Title = "Kursdeltagare för " + Model.Title;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table>
    <tr>
        <th>Namn</th>
        <th>E-post</th>
    </tr>
    @foreach (var attendant in Model.Attendants)
    {
        <tr>
            <td>@attendant.Name</td>
            <td>@attendant.Email</td>
        </tr>
    }
</table>
